@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">Top Slider</h4>
                    <h6 class="lebel">Live Images</h6>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                   
                    <form  enctype="multipart/form-data">
                        <div class="input-group flex-nowrap">
                            <div class="custom-file w-100">
                                <input type="file" name="Files" multiple />
                            </div>
                            <button type="button" id="uploadSliderButton" class="btn btn-outline-secondary">Upload</button>
                        </div>
                    
                    </form>


                    <div id="resultMessage"></div>

                </div>

            </div>

        </div>

    </div>



    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">Rate Calculator</h4>
                    <h6 class="lebel">Live Images</h6>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <form enctype="multipart/form-data">
                        <div class="input-group flex-nowrap">
                            <div class="custom-file w-100">
                                <input type="file" name="RateCalculatorFiles" multiple />
                            </div>
                            <button type="button" id="uploadRateCalculatorButton" class="btn btn-outline-secondary">Upload</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>


    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">Middle Slider</h4>
                    <h6 class="lebel">Live Images</h6>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <form enctype="multipart/form-data">
                        <div class="input-group flex-nowrap">
                            <div class="custom-file w-100">
                                <input type="file" name="MiddleSliderFiles" multiple />
                            </div>
                            <button type="button" id="uploadMiddleSliderButton" class="btn btn-outline-secondary">Upload</button>
                        </div>

                    </form>


                </div>

            </div>

        </div>

    </div>



    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">Round Buttons</h4>
                    <h6 class="lebel">Live Images</h6>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <form enctype="multipart/form-data">
                        <div class="input-group flex-nowrap">
                            <div class="custom-file w-100">
                                <input type="file" name="RoundButtonsFiles" multiple />
                            </div>
                            <button type="button" id="uploadRoundButtonsButton" class="btn btn-outline-secondary">Upload</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">Last Slider</h4>
                    <h6 class="lebel">Live Images</h6>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                 src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <form enctype="multipart/form-data">
                        <div class="input-group flex-nowrap">
                            <div class="custom-file w-100">
                                <input type="file" name="LastSliderFiles" multiple />
                            </div>
                            <button type="button" id="uploadLastSliderButton" class="btn btn-outline-secondary">Upload</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">Videos</h4>
                    
                    <form enctype="multipart/form-data">
                        <div class="input-group flex-nowrap">
                            <div class="custom-file w-100">
                                <input type="file" name="VideoFiles" multiple />
                            </div>
                            <button type="button" id="uploadVideoButton" class="btn btn-outline-secondary">Upload</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>


@section Scripts{

    <script>
        document.getElementById("uploadSliderButton").addEventListener("click", function () {
            var formData = new FormData();

            // Append each selected file to the FormData object
            var filesInput = document.querySelector('input[type="file"][name="Files"]');
            for (var i = 0; i < filesInput.files.length; i++) {
                formData.append("Files", filesInput.files[i]);
            }

            $.ajax({
                url: "@Url.Action("UploadTopSlider", "Home")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        // Display toast notification
                        toastr.success(response.message);
                    } else {
                        // Handle error case
                        toastr.error("File upload failed.");
                    }
                },
                error: function () {
                    toastr.error("An error occurred while uploading the file.");
                }
            });
        });
        

            //uploadRateCalculatorButton
        document.getElementById("uploadRateCalculatorButton").addEventListener("click", function () {
            var formData = new FormData();

            // Append each selected file to the FormData object
            var filesInput = document.querySelector('input[type="file"][name="RateCalculatorFiles"]');
            for (var i = 0; i < filesInput.files.length; i++) {
                formData.append("Files", filesInput.files[i]);
            }

            $.ajax({
                url: "@Url.Action("UploadRateCalculator", "Home")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        // Display toast notification
                        toastr.success(response.message);
                    } else {
                        // Handle error case
                        toastr.error("File upload failed.");
                    }
                },
                error: function () {
                    toastr.error("An error occurred while uploading the file.");
                }
            });
        });

        //uploadMiddleSliderButton
        document.getElementById("uploadMiddleSliderButton").addEventListener("click", function () {
            var formData = new FormData();

            // Append each selected file to the FormData object
            var filesInput = document.querySelector('input[type="file"][name="MiddleSliderFiles"]');
            for (var i = 0; i < filesInput.files.length; i++) {
                formData.append("Files", filesInput.files[i]);
            }

            $.ajax({
                url: "@Url.Action("UploadMiddleSlider", "Home")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        // Display toast notification
                        toastr.success(response.message);
                    } else {
                        // Handle error case
                        toastr.error("File upload failed.");
                    }
                },
                error: function () {
                    toastr.error("An error occurred while uploading the file.");
                }
            });
        });
        

            //uploadRoundButtonsButton
        document.getElementById("uploadRoundButtonsButton").addEventListener("click", function () {
            var formData = new FormData();

            // Append each selected file to the FormData object
            var filesInput = document.querySelector('input[type="file"][name="RoundButtonsFiles"]');
            for (var i = 0; i < filesInput.files.length; i++) {
                formData.append("Files", filesInput.files[i]);
            }

            $.ajax({
                url: "@Url.Action("UploadRoundButtons", "Home")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        // Display toast notification
                        toastr.success(response.message);
                    } else {
                        // Handle error case
                        toastr.error("File upload failed.");
                    }
                },
                error: function () {
                    toastr.error("An error occurred while uploading the file.");
                }
            });
        });
        


            //uploadLastSliderButton
        document.getElementById("uploadLastSliderButton").addEventListener("click", function () {
            var formData = new FormData();

            // Append each selected file to the FormData object
            var filesInput = document.querySelector('input[type="file"][name="LastSliderFiles"]');
            for (var i = 0; i < filesInput.files.length; i++) {
                formData.append("Files", filesInput.files[i]);
            }

            $.ajax({
                url: "@Url.Action("UploadLastSlider", "Home")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        // Display toast notification
                        toastr.success(response.message);
                    } else {
                        // Handle error case
                        toastr.error("File upload failed.");
                    }
                },
                error: function () {
                    toastr.error("An error occurred while uploading the file.");
                }
            });
        });
        

            //uploadVideoButton

            document.getElementById("uploadVideoButton").addEventListener("click", function () {
            var formData = new FormData();

            // Append each selected file to the FormData object
            var filesInput = document.querySelector('input[type="file"][name="VideoFiles"]');
            for (var i = 0; i < filesInput.files.length; i++) {
                formData.append("Files", filesInput.files[i]);
            }

            $.ajax({
                url: "@Url.Action("UploadVideo", "Home")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        // Display toast notification
                        toastr.success(response.message);
                    } else {
                        // Handle error case
                        toastr.error("File upload failed.");
                    }
                },
                error: function () {
                    toastr.error("An error occurred while uploading the file.");
                }
            });
        });



    </script>
}



@*@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">Top Slider</h4>

                    <h6 class="lebel">Live Images</h6>

                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                     src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                     src="../assets/images/big/img2.jpg" alt="First slide">
                            </div>

                        </div>
                    </div><div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                     src="../assets/images/big/img3.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                     src="../assets/images/big/img3.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                     src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div><div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                     src="../assets/images/big/img2.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                     src="../assets/images/big/img1.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                     src="../assets/images/big/img2.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">

                            <div class="carousel-item active">
                                <img class="img-fluid"
                                     src="../assets/images/big/img3.jpg" alt="First slide">
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row" id="selectImg">

                    <h6 class="lebel">Selected Images</h6>

                    <div class="col-lg-3">


                        <div class="carousel-item active">
                            <img class="img-fluid" id="thumbnil1" src="../assets/images/big/no-img.jpg" alt="image" />
                        </div>


                    </div>
                    <div class="col-lg-3">


                        <div class="carousel-item active">
                            <img class="img-fluid" id="thumbnil2" src="../assets/images/big/no-img.jpg" alt="image" />
                        </div>


                    </div>
                    <div class="col-lg-3">


                        <div class="carousel-item active">
                            <img class="img-fluid" id="thumbnil3" src="../assets/images/big/no-img.jpg" alt="image" />
                        </div>


                    </div>
                    <div class="col-lg-3">


                        <div class="carousel-item active">
                            <img class="img-fluid" id="thumbnil4" src="../assets/images/big/no-img.jpg" alt="image" />
                        </div>


                    </div>
                    <div class="col-lg-3">


                        <div class="carousel-item active">
                            <img class="img-fluid" id="thumbnil5" src="../assets/images/big/no-img.jpg" alt="image" />
                        </div>

                    </div>
                    <div class="col-lg-3">


                        <div class="carousel-item active">
                            <img class="img-fluid" id="thumbnil6" src="../assets/images/big/no-img.jpg" alt="image" />
                        </div>


                    </div>
                    <div class="col-lg-3">


                        <div class="carousel-item active">
                            <img class="img-fluid" id="thumbnil7" src="../assets/images/big/no-img.jpg" alt="image" />
                        </div>

                    </div>
                    <div class="col-lg-3">


                        <div class="carousel-item active">
                            <img class="img-fluid" id="thumbnil8" src="../assets/images/big/no-img.jpg" alt="image" />
                        </div>

                    </div>
                    <div class="col-lg-3">


                        <div class="carousel-item active">
                            <img class="img-fluid" id="thumbnil9" src="../assets/images/big/no-img.jpg" alt="image" />
                        </div>

                    </div>

                    <div class="input-group flex-nowrap">
                        <div class="custom-file w-100">
                           
                            <input class="form-control" type="file" id="formFileTopSlider" name="ImageData" onchange="fileCheck(this);" multiple />
                        </div>
                        <button class="btn btn-outline-secondary" onclick="UploadTopSlider(this);" id="upBtnTopSlider" type="button">
                            Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Rate Calculator
                </h4>


                <div class="input-group flex-nowrap">
                    <div class="custom-file w-100">
                        <input class="form-control" type="file" id="formFileRateCalculator">
                    </div>
                    <button class="btn btn-outline-secondary" type="button">
                        Button
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Middle Slider</h4>


                <div class="input-group flex-nowrap">
                    <div class="custom-file w-100">
                        <input class="form-control" type="file" id="formFileMiddleSlider">
                    </div>
                    <button class="btn btn-outline-secondary" type="button">
                        Button
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Round Buttons</h4>


                <div class="input-group flex-nowrap">
                    <div class="custom-file w-100">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <button class="btn btn-outline-secondary" type="button">
                        Button
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Last Slider</h4>


                <div class="input-group flex-nowrap">
                    <div class="custom-file w-100">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <button class="btn btn-outline-secondary" type="button">
                        Button
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">VIDEOS</h4>


                <div class="input-group flex-nowrap">
                    <div class="custom-file w-100">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <button class="btn btn-outline-secondary" type="button">
                        Button
                    </button>
                </div>

            </div>
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">

        function fileCheck(obj) {
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'webp'];
            if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp','.webp' formats are allowed.");

            }

            else {
                //var hideSection = '<div class="ROW" id="selectImg"><h6 class="lebel">Selected Images</h6 > <div class="col-lg-3" > <div class="card" > <div class="carousel-item active" > <img class="img-fluid" id = "thumbnil1" src = "" alt = "image" /> </div> </div > </div> <div class="col-lg-3"> <div class="card"> <div class="carousel-item active"> <img class="img-fluid" id="thumbnil2" src="" alt="image" / > </div> </div > </div> <div class="col-lg-3"> <div class="card"> <div class="carousel-item active"> <img class="img-fluid" id="thumbnil3" src="" alt="image" / > </div> </div > </div> <div class="col-lg-3"> <div class="card"> <div class="carousel-item active"> <img class="img-fluid" id="thumbnil4" src="" alt="image" / > </div> </div > </div> <div class="col-lg-3"> <div class="card"> <div class="carousel-item active"> <img class="img-fluid" id="thumbnil5" src="" alt="image" / > </div> </div > </div> <div class="col-lg-3"> <div class="card"> <div class="carousel-item active"> <img class="img-fluid" id="thumbnil6" src="" alt="image" / > </div> </div > </div> <div class="col-lg-3"> <div class="card"> <div class="carousel-item active"> <img class="img-fluid" id="thumbnil7" src="" alt="image" / > </div> </div > </div> <div class="col-lg-3"> <div class="card"> <div class="carousel-item active"> <img class="img-fluid" id="thumbnil8" src="" alt="image" / > </div> </div > </div> <div class="col-lg-3"> <div class="card"> <div class="carousel-item active"> <img class="img-fluid" id="thumbnil9" src="" alt="image" / > </div> </div > </div></div>'
                //const div = document.createElement('div');
                //div.innerHTML = '';

                //document.getElementById("selectImg").appendChild(div);

                //div.innerHTML = hideSection;

                //document.getElementById("selectImg").appendChild(div);

                var files = formFileTopSlider.files;
                var j = 1
                for (var i = 0; i <= files.length; i++) {

                    var file = files[i];
                    var imgid = "thumbnil" + j;
                    var img = document.getElementById(imgid);
                    img.file = file;
                    var reader = new FileReader();
                    reader.onload = (function (aImg) {
                        return function (e) {
                            aImg.src = e.target.result;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                    j++;
                }
            }

        }
        function UploadTopSlider(obj) {
            event.preventDefault();
            var ImgFile = formFileTopSlider.files;
            var formData = new FormData();
            console.log(ImgFile);
            for (var i = 0; i <= ImgFile.length; i++) {
            formData.append('ImgFiles', ImgFile[i]);
            //formData.append('MyProperty', 12);
            }
            console.log(formData);

            $.ajax({
                type: "POST",
                url: "/Home/UploadTopSlider",
                data: { 'ImgFile': ImgFile }, // In the controller it receives IFormFile image
                processData: false,
                contentType: false,
                success: function () {
                    alart("Done");
                    
                },
                error: function (errorMessage) {
                    console.log(errorMessage);
                }
            });
        }
    </script>

}*@