
@{
    ViewData["Title"] = "Corporate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Corporate</h1>

<div class="col-sm-12 col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h4 class="card-title">Corporate Banner</h4>
                <h6 class="lebel">Live Images</h6>
                @if (ViewBag.BannerImagePath.Length > 0)
                {
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="carousel-item-active">
                               
                                <img class="img-fluid" src="@Url.Content(ViewBag.BannerImagePath)" alt="First Slide">
                            </div>
                        </div>
                    </div>


                }
                else
                {
                    <p>No files available.</p>
                }

                <form enctype="multipart/form-data">
                    <div class="input-group flex-nowrap">
                        <div class="custom-file w-100">
                            <input type="file" name="BannerImageFile" multiple />
                        </div>
                        <button type="button" id="UploadBannerImageFileButton" class="btn btn-outline-secondary">Upload</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h4 class="card-title">Corporate</h4>
                <form enctype="text/plain">
                    <div class="input-group flex-nowrap">
                        <div class="w-100 mt-1 mb-2">
                            <label for="InnerSectionTitle">Inner Section Title </label>
                            <textarea class="form-control" cols="20" id="InnerSectionTitle" name="InnerSectionTitle" rows="4" contenteditable="true">@ViewBag.InnerSectionTitle</textarea>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap">
                        <div class="w-100 mt-1 mb-2">
                            <label for="InnerSectionDescription">Inner Section Description </label>
                            <textarea class="form-control" cols="20" id="InnerSectionDescription" name="InnerSectionDescription" rows="4" contenteditable="true">@ViewBag.InnerSectionDescription</textarea>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap">
                        <div class="w-100 mt-1 mb-2">
                            <label for="CorporateClientsText">Corporate Clients  Text </label>
                            <textarea class="form-control" cols="20" id="CorporateClientsText" name="CorporateClientsText" rows="4" contenteditable="true">@ViewBag.CorporateClientsText</textarea>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap">
                        <div class="w-100 mt-1 mb-2">
                            <label for="RequiredDocumentsText">Required Documents Text </label>
                            <textarea class="form-control" cols="20" id="RequiredDocumentsText" name="RequiredDocumentsText" rows="4" contenteditable="true">@ViewBag.ContactsText</textarea>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap">
                        <div class="w-100 mt-1 mb-2">
                            <label for="ContactsText">Contacts Text </label>
                            <textarea class="form-control" cols="20" id="ContactsText" name="ContactsText" rows="4" contenteditable="true">@ViewBag.ContactsText</textarea>
                        </div>
                    </div>
                   
                    
                    <button type="button" id="uploadCorporateSection" class="btn btn-outline-secondary">Update</button>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h4 class="card-title">Required Documents</h4>
                <form enctype="text/plain">
                    <div class="input-group flex-nowrap">
                        <div class="w-100 mt-1 mb-2">
                            <h6>Required Documents List:</h6>

                            <ul id="valuesItemsList" class="col-sm-12 col-md-12 mt-2 mb-1">
                                @foreach (var item in ViewBag.RequiredDocuments)
                                {

                                    <li class="d-block col-sm-12 col-md-12 mt-3 mb-3">

                                        @item.RequiredDocumentText <button type="button" value="@item.SerialNo" class="remove-item float-end btn btn-outline-secondary mr-0">Remove</button>


                                    </li>

                                }
                            </ul>
                        </div>
                        
                    </div>
                    <div class="input-group flex-nowrap mt-2 mb-1">
                        <label for="NewValue">Add Required Documents </label>
                    </div>
                    <div class="input-group flex-nowrap mt-2 mb-2">

                        <input type="text" class="form-control" id="NewValue" name="NewValue" placeholder="Enter Required Documents "></input>
                        <button type="button" id="updateRequiredDocumentsButton" class="btn btn-outline-secondary ">Update</button>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h4 class="card-title">Slider</h4>
                <h6 class="lebel">Live Images</h6>
                @if (ViewBag.CorporateSliderFileNames.Length > 0)
                {
                    @foreach (var fileName in ViewBag.CorporateSliderFileNames)
                    {
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="carousel-item-active">

                                    <img class="img-fluid" src="@Url.Content("../Uploads/original/Services/Corporate/Slider/"+ fileName)" alt="First Slide">
                                </div>
                            </div>
                        </div>

                    }
                }
                else
                {
                    <p>No files available.</p>
                }
                <div class="row">
                    <div class="form-group col-sm-3 col-md-3 mb-4">
                        <label class="mr-sm-2">Select Position</label>
                        <select class="form-select mr-sm-2" id="ddlSliderSelect">
                            <option selected="" value="0">All</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>

                        </select>
                    </div>
                </div>
                <form enctype="multipart/form-data">
                    <div class="input-group flex-nowrap">
                        <div class="custom-file w-100">
                            <input type="file" name="Files" multiple />
                        </div>
                        <button type="button" id="uploadSliderButton" class="btn btn-outline-secondary">Upload</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        document.getElementById("UploadBannerImageFileButton").addEventListener("click", function () {
            var formData = new FormData();
            var position = 1;
            // Append each selected file to the FormData object
            var filesInput = document.querySelector('input[type="file"][name="BannerImageFile"]');
            for (var i = 0; i < filesInput.files.length; i++) {
                formData.append("Files", filesInput.files[i]);
                formData.append("position", position);
            }

            $.ajax({
                url: "@Url.Action("UploadCorporateBanner", "Services")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {

                        toastr.success(response.message);
                        var redirectUrl = response.redirectUrl;

                        window.location.href = redirectUrl;
                    } else {
                        // Handle error case
                        toastr.error("File upload failed.");

                    }
                },
                error: function () {
                    toastr.error("An error occurred while uploading the file.");
                }
            });
        });

        document.getElementById("uploadCorporateSection").addEventListener("click", function () {

            var formData = new FormData();
            var innerSectionTitle = document.getElementById("InnerSectionTitle").value;
            var innerSectionDescription = document.getElementById("InnerSectionDescription").value;
            var corporateClientsText = document.getElementById("CorporateClientsText").value;
            var contactsText = document.getElementById("ContactsText").value;
            var requiredDocumentsText = document.getElementById("RequiredDocumentsText").value;



            formData.append("InnerSectionTitle", innerSectionTitle);
            formData.append("InnerSectionDescription", innerSectionDescription);
            formData.append("CorporateClientsText", corporateClientsText);
            formData.append("ContactsText", contactsText);
            formData.append("RequiredDocumentsText", requiredDocumentsText);

           

            $.ajax({
                url: "@Url.Action("UpdateCorporateSection", "Services")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {

                        toastr.success(response.message);
                        var redirectUrl = response.redirectUrl;
                        window.location.href = redirectUrl;
                    } else {
                        // Handle error case
                        toastr.error("Corporate section upload failed.");

                    }
                },
                error: function () {
                    toastr.error("An error occurred while uploading corporate section.");
                }
            });
        });
        document.getElementById("uploadSliderButton").addEventListener("click", function () {
            debugger;
            var formData = new FormData();
            var position = $("#ddlSliderSelect option:selected").val();
            // Append each selected file to the FormData object
            var filesInput = document.querySelector('input[type="file"][name="Files"]');
            for (var i = 0; i < filesInput.files.length; i++) {
                formData.append("Files", filesInput.files[i]);
                formData.append("position", position);
            }

            $.ajax({
                url: "@Url.Action("UploadCorporateSlider", "Services")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        // Display toast notification
                        toastr.success(response.message);
                        var redirectUrl = response.redirectUrl;

                        window.location.href = redirectUrl;
                    } else {
                        // Handle error case
                        toastr.error("File upload failed.");
                       
                    }
                },
                error: function () {
                    toastr.error("An error occurred while uploading the file.");
                }
            });
        });


        document.getElementById("updateRequiredDocumentsButton").addEventListener("click", function () {
            var formData = new FormData();
            var valuesItemText = document.getElementById("NewValue").value;



            formData.append("newValue", valuesItemText);


            $.ajax({
                url: "@Url.Action("AddRequiredDocuments", "Services")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        var redirectUrl = response.redirectUrl;

                        window.location.href = redirectUrl;
                    } else {
                        toastr.error("Required Documents update failed.");
                    }
                },
                error: function () {
                    toastr.error("An error occurred while updating Required Documents.");  
                }
            });


        })

        var clickableButtons = document.getElementsByClassName("remove-item");

        // Iterate through the elements and attach a click event listener
        for (var i = 0; i < clickableButtons.length; i++) {
            clickableButtons[i].addEventListener("click", function () {

                var buttonValue = event.target.value;
                var listItem = this.closest("li");
                if (listItem) {
                    listItem.remove();
                }
                var formData = new FormData();

                formData.append("itemSerialNo", buttonValue);


                $.ajax({
                    url: "@Url.Action("DeleteRequiredDocuments", "Services")",
                    type: "DELETE",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            toastr.success(response.message);
                            var redirectUrl = response.redirectUrl;

                            window.location.href = redirectUrl;
                        } else {
                            toastr.error("Values Item Delete failed.");
                        }
                    },
                    error: function () {
                        toastr.error("An error occurred while deleting Values Item.");
                    }
                });



            });
        }

    </script>
}